html{
	-webkit-text-size-adjust: none
}
.bg{
	background: url(../img/bg.png) no-repeat top center #ff8e39;
	background-size: 100% auto;
	  
}
.view{
	position: relative;
}
.view .logo{
	display: block;
	width:4.35rem ;
	margin: 0 auto;
}.view .logo img{
	width: 100%;
}
.view  .banner{
	width: 6.37rem;margin: .4rem auto 0;display: block;
}
.view  .prize{
	background: url(../img/img2.png) no-repeat center top;
	background-size: 100% auto;
	padding-top: 2.3rem;
	padding-bottom: .3rem;
	width:7.25rem ;
	margin: .55rem auto 0;
	position: relative;
}.view  .prize .prizebtn{
	width: 1.71rem;
	height: .69rem;
	background: url(../img/btn.png) no-repeat center center;
	background-size: 100% auto;
	position: absolute;
	left: 50%;
	top: 2.3rem;
	transform: translate(-50%,-50%);
}
.view  .prize .menu{
	margin-top: .4rem;
	text-align: center;
	padding: 0 .2rem;
	margin-bottom: .32rem;
}
.view  .prize .menu li  a>div{
	display:inline-block;
	padding: .08rem;
	border: 1px solid #fff;
	border-radius:100% ;

	
}
.view  .prize .menu li  a p{
	color: #fff;
	font-size: .22rem;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.view  .prize .menu li img{
	display: block;border-radius:100% ;
	width: 1.07rem;
	height: 1.07rem;
	
}
.input-group .input-row{
	width: 6.67rem;
	height: .81rem;
	background: #f0f0f0;
	border-radius: .05rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d1d1d1;
}
.input-group .input-row label{
	width: .8rem;
	height: .43rem;
	display: block;position: relative;
}
.input-group .input-row label:after{
	content: '';
	position: absolute;
	right: 0;
	height: .37rem;
	width: 1px;
	background: #7b7b7b;
	top: 50%;
	transform: translateY(-50%);
}
.input-group .input-row label .icon{
	display: block;
	height: .43rem;
	width: .43rem;
	background: no-repeat center center;background-size:100% auto ;
	margin: 0 auto;
}
.input-group .input-row label .icon.icon1{
	background-image: url(../img/icon.png);
}
.input-group .input-row label .icon.icon2{
	background-image: url(../img/icon2.png);
}
.input-group .input-row label .icon.icon3{
	background-image: url(../img/icon3.png);
}
.input-group .input-row >div{
	position: relative;
	height: 100%;
	margin-left: .15rem;
	font-size: .2rem;
}
.input-group .input-row >div input{
	height:100%;
	width: 100%;
	border: none;
	background: none;
	position: relative;
	z-index: 1;
}
.input-group .input-row >div .tag{
	line-height: .81rem;
	position: absolute;
	top: 0;
	left: 0;
	color: #808080;
	
}
.input-group .input-row >div .tag em{
	color: #ff3e59;
	font-weight: bold;
}
.view  .prize .prizebtn-lg{
	color: #fff;
	font-size: .35rem;
	width: 6.67rem;
	height: .74rem;
	line-height: .74rem;
	text-align: center;
	background: #323232;
	border-radius: .05rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.view .title-img{
	width: 7.01rem;
	margin: .25rem auto .15rem;
	display: block;
}
.tab{
	margin: 0 .11rem;
}
.tab .swiperTab{
	text-align: center;
	margin-bottom: .2rem;
}
.tab .swiperTab li{
	display: inline-block;
	width: 1.48rem;
	height: .49rem;
	background: #fff;
	line-height: .49rem;
	text-align: center;
	color: #313233;
	font-size: .2rem;
	border-radius:.08rem ;
	position: relative;
	
}
.tab .swiperTab li.active{
	color: #fff;
	background: #323232;
}
.tab .swiperTab li.active:after{
	content: '';
	height: .1rem;
	width: .1rem;
	background: #323232;
	display: block;
	transform: rotate(45deg) translateX(-50%);
	position: absolute;
	left: 0;
	margin-left: 50%;
}
.tab .swiperTab li+li{
	margin-left: .06rem;
}
.tab  .swiper-slide img{
	background: #fff;
	width: 100%;
}
.tab .swiper-container{
	padding: .12rem;
	background: #fff;
	box-sizing: border-box;
}
.tab .tab-footer{
	border-top: .05rem solid #ff923c;
	background: #fff;
	border-radius: 0 0 .2rem .2rem;
	height: 1rem;
	padding-top: .15rem;
}
.tab .tab-footer a{
	display: block;
	margin: 0 auto;
	width: 3.85rem;
}
.tab .tab-footer a img{
	width: 3.85rem;
}
.title-img2{
	}